.background.color {
    background: linear-gradient(to top,
    
    var(--main-bg-wth) 0%,
    var(--main-bg-wth) 70%,
    var(--top-bg-wth) 70%,
    var(--top-bg-wth) 100%);
}

.background.color .nav-title, .background.color .overview-number, .background.color .follower-numbers{
    color: var(--titles-wth);
}

.background.color .overview-content, .background.color .nav-sub,.background.color .follower-name,.background.color .follower-content,.background.color .sub-title {
    color: var(--text-wth);
}

.background.color .follower__container, .background.color .overview-container {
    background-color: var(--card-bg-wth);
}

.background.color .follower__container:hover,.background.color .overview-container:hover {
    background-color: #b491bb42;
}

